LP2TECNOQUIMFRONT/Connected Services/Service/Servicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.lp2tecnoquim/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="Servicio" targetNamespace="http://services.lp2tecnoquim/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://10.0.75.1:8080/LP2TECNOQUIMSERVICES/Servicio?xsd=1" namespace="http://services.lp2tecnoquim/" />
    </xsd:schema>
  </types>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <message name="verificarUsuario">
    <part name="parameters" element="tns:verificarUsuario" />
  </message>
  <message name="verificarUsuarioResponse">
    <part name="parameters" element="tns:verificarUsuarioResponse" />
  </message>
  <message name="enviarMensaje">
    <part name="parameters" element="tns:enviarMensaje" />
  </message>
  <message name="enviarMensajeResponse">
    <part name="parameters" element="tns:enviarMensajeResponse" />
  </message>
  <portType name="Servicio">
    <operation name="hello">
      <input wsam:Action="http://services.lp2tecnoquim/Servicio/helloRequest" message="tns:hello" />
      <output wsam:Action="http://services.lp2tecnoquim/Servicio/helloResponse" message="tns:helloResponse" />
    </operation>
    <operation name="verificarUsuario">
      <input wsam:Action="http://services.lp2tecnoquim/Servicio/verificarUsuarioRequest" message="tns:verificarUsuario" />
      <output wsam:Action="http://services.lp2tecnoquim/Servicio/verificarUsuarioResponse" message="tns:verificarUsuarioResponse" />
    </operation>
    <operation name="enviarMensaje">
      <input wsam:Action="http://services.lp2tecnoquim/Servicio/enviarMensajeRequest" message="tns:enviarMensaje" />
      <output wsam:Action="http://services.lp2tecnoquim/Servicio/enviarMensajeResponse" message="tns:enviarMensajeResponse" />
    </operation>
  </portType>
  <binding name="ServicioPortBinding" type="tns:Servicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="verificarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="enviarMensaje">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Servicio">
    <port name="ServicioPort" binding="tns:ServicioPortBinding">
      <soap:address location="http://10.0.75.1:8080/LP2TECNOQUIMSERVICES/Servicio" />
    </port>
  </service>
</definitions>