LP2TECNOQUIMFRONT/Connected Services/Service/Servicio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.lp2tecnoquim/" targetNamespace="http://services.lp2tecnoquim/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarMaquinaria" type="tns:actualizarMaquinaria" />
  <xs:element name="actualizarMaquinariaResponse" type="tns:actualizarMaquinariaResponse" />
  <xs:element name="enviarMensaje" type="tns:enviarMensaje" />
  <xs:element name="enviarMensajeResponse" type="tns:enviarMensajeResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:element name="insertarMaquinaria" type="tns:insertarMaquinaria" />
  <xs:element name="insertarMaquinariaResponse" type="tns:insertarMaquinariaResponse" />
  <xs:element name="listarMaquinaria" type="tns:listarMaquinaria" />
  <xs:element name="listarMaquinariaResponse" type="tns:listarMaquinariaResponse" />
  <xs:complexType name="enviarMensaje">
    <xs:sequence>
      <xs:element minOccurs="0" name="mensaje" type="tns:mensaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mensaje">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="emisor" type="tns:trabajador" />
      <xs:element minOccurs="0" name="fechaEnvio" type="xs:dateTime" />
      <xs:element name="idMensaje" type="xs:int" />
      <xs:element minOccurs="0" name="receptor" type="tns:trabajador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="trabajador">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="tns:rol" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rol">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idRol" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="username" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enviarMensajeResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="actualizarMaquinaria">
    <xs:sequence>
      <xs:element minOccurs="0" name="maquinaria" type="tns:maquinaria" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="maquinaria">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarMaquinariaResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="insertarMaquinaria">
    <xs:sequence>
      <xs:element minOccurs="0" name="maquinaria" type="tns:maquinaria" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarMaquinariaResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarMaquinaria">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarMaquinariaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:maquinaria" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>